.section_container{
    height:400px;
    width:100%;
    position: relative;
    z-index: -10;
    display: flex;
    background-color:rgb(24,24,28);
}
.section_text{
    flex:0.5;
    
    font-family: 'Poppins', sans-serif;
    font-size: 65px;
    font-weight: bolder;
    line-height: 1;
    padding-top: 130px;
    padding-left:160px;
    text-align: justify;
  color:white;
}
@media only screen and (min-width: 320px) and (max-width: 540px) {
  .section_container{
    height:400px;
    width:100%;
    position: relative;
    z-index: -10;
   
    background-color:rgb(24,24,28);
}
  .section_text{
    
    
    font-family: 'Poppins', sans-serif;
    font-size: 45px;
    font-weight: bolder;
    line-height: 1;
    padding-top: 90px;
    padding-left:160px;
    text-align: justify;
  color:white;
}
}